nav {
    width: 100%;
    margin: 0 auto;
}
  
nav ul {
    list-style: none;
    text-align: center;
}
  
nav ul li {
    display: inline-block;
}
  
nav ul li span {
    display: block;
    padding: 15px 45px;
    text-decoration: none;
    color: rgb(189, 184, 184);
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
}
  
nav ul li span, nav ul li span:after,
nav ul li span:before {
    transition: all .5s;
}
  
nav ul li span:hover {
    color: #555;
    color: #0B7FCB;
    cursor: pointer;
}
  
nav.stroke ul li span,
nav.fill ul li span {
    position: relative;
}

nav.stroke ul li span:after,
nav.fill ul li span:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}

nav.stroke ul li span:hover:after {
    width: 100%;
}